[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "vim/bundle/vim-jasmine"]
	path = vim/bundle/vim-jasmine
	url = https://github.com/thomd/vim-jasmine.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "util/bk"]
	path = util/bk
	url = https://github.com/russjp1985/bk.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
