[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-jasmine"]
	path = vim/bundle/vim-jasmine
	url = https://github.com/thomd/vim-jasmine.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "util/bk"]
	path = util/bk
	url = https://github.com/russjp1985/bk.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/vim-bufexplorer"]
	path = vim/bundle/vim-bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "vim/bundle/vim-phpcs"]
	path = vim/bundle/vim-phpcs
	url = https://github.com/bpearson/vim-phpcs.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-jst"]
	path = vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "util/bin/remindme"]
	path = util/bin/remindme
	url = git@github.com:russjp1985/remindme.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fsouza/go.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim
